<div class="page-wrapper">
  <div class="page-container">
  <h1 class="text-center title">Mes rendez-vous</h1>
    <div class="container">
      <div class="row">
        <% @my_bookings.each do |my_booking| %>

          <div class="col-xs-8 col-xs-offset-2 ">
             <%= link_to activity_path(my_booking.activity.id) do %>
            <div class="booking">
              <% if my_booking.user.photo? %>
                <%= cl_image_tag my_booking.user.photo.path, width: 200, height: 200, crop: :fill, class: "booking-index-image" %>
              <% else %>
                <%= image_tag "placeholder-user-photo.png", width: 200, height: 200, crop: :fill, class: "booking-index-image"%>
              <% end %>
              <div class='booking-body'>
                <div>
                  <h3><%= my_booking.activity.name %></h3>
                  <p>Du <%= my_booking.activity.starting_time %> au <%= my_booking.activity.end_time %> </p>
                  <p><strong>Vous serez aidé par:</strong> <%= my_booking.user.name %></p>
                </div>
                <div id="acceptance">
                  <% if my_booking.accepted.nil? %>
                    <%= simple_form_for (my_booking) do |f| %>
                      <%= f.hidden_field :accepted, as: :boolean, value: true %>
                      <%= f.button :submit, value: "Accepter", class: "btn btn-success"%>
                    <% end %>
                    <%= simple_form_for (my_booking) do |f| %>
                      <%= f.hidden_field :accepted, as: :boolean, value: false %>
                      <%= f.button :submit, value: "Refuser", class: "btn btn-danger"%>
                    <% end %>
                  <% end %>
                </div>
                <div>
                  <% if my_booking.accepted.nil? %>
                    <h4>En attente</h4>
                  <% elsif my_booking.accepted %>
                    <h4>Accepté</h4>
                  <% else %>
                    <h4>Refusé</h4>
                  <% end %>
                </div>
              </div>
            </div>
            <% end %>
          </div>
        <% end %>
      </div>




      <% @bookings.each do |booking| %>
        <div class="row">
          <div class="col-xs-8 col-xs-offset-2 ">
            <%= link_to activity_path(booking.activity.id) do %>

              <div class="booking">
                <% if booking.activity.user.photo? %>
                  <%= cl_image_tag booking.activity.user.photo.path, width: 200, height: 200, crop: :fill, class: "booking-index-image" %>
                  <% else %>
                     <%= image_tag "placeholder-user-photo.png", width: 200, height: 200, crop: :fill, class: "booking-index-image"%>
                  <% end %>
                <div class='booking-body'>
                  <div>
                    <h3><%= booking.activity.name %></h3>
                    <p>Du <%= booking.activity.starting_time %> au <%= booking.activity.end_time %> </p>
                    <p><strong>Vous irez aider:</strong> <%= booking.activity.user.name %></p>

                  </div>
                  <div>
                    <% if booking.accepted.nil? %>
                      <h4>En attente</h4>
                    <% elsif booking.accepted %>
                      <h4>Accepté</h4>
                    <% else %>
                      <h4>Refusé</h4>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %> <!-- linkto -->
          </div>
        </div>
      <% end %>
        <div class="text-center">
          <%= link_to 'Retourner à mon profil', user_path(current_user), class: "btn btn-danger", id:"btn-center" %>
        </div>


    </div>
  </div>
</div>
<%# link_to 'See all activities', activities_path %>
