<div class="page-wrapper">
  <div class="page-container">
  <h1 class="text-center">Mes rendez-vous</h1>
    <div class="container">
      <% @bookings.each do |booking| %>
        <div class="row">
          <div class="col-xs-8 col-xs-offset-2 ">
            <div class="booking">
              <%= image_tag "profile.placeholder.jpeg", {class: "booking-image"} %>
              <div class='booking-body'>
                <h3><%= booking.activity.name %></h3>
                <p>Du <%= booking.activity.starting_time %> au <%= booking.activity.end_time %> </p>
                <p>Avec: <%= booking.activity.user.name %></p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<%# link_to 'See all activities', activities_path %>
