<div class="page-wrapper">
  <div class="page-container page-container-responsive row-space-top-4 row-space-8r">
    <div class="container">

      <div class="row">
        <div class="col-xs-4">
          <div class="user-div">
            <div class="pict-cont">
              <% if @user.photo? %>
                <%= cl_image_tag @user.photo.path, width: 225, crop: :fill, class: "user-picture" %>
              <% else %>
                <%= image_tag 'placeholder-user-photo.png', width: 225, crop: :fill, class: "user-picture" %>
              <% end %>
            </div>
            <div class="user-info">
                  <table>
                    <tbody>
                      <% if @user.name && @user.surname %>
                        <tr>
                          <td class="field-name"><p><strong>Nom: </strong></p></td>
                          <td><p><%= @user.name %> <%= @user.surname %></p></td>
                        </tr>
                      <% end %>
                      <% if @user.birthdate %>
                            <tr>
                              <td class="field-name"><p><strong>Anniversaire: </strong></p></td>
                              <td><p><%= @user.birthdate %></p></td>
                            </tr>
                      <% end %>
                      <% if @user.address %>
                            <tr>
                              <td class="field-name"><p><strong>Adresse: </strong></p></td>
                              <td><p><%= @user.address %></p></td>
                            </tr>
                      <% end %>
                      <% if @user.description %>
                            <tr>
                              <td class="field-name"><p><strong>Détails: </strong></p></td>
                              <td><p><%= @user.description %></p></td>
                            </tr>
                      <% end %>
                    </tbody>
                  </table>
              <% if @user === current_user %>
              <%= link_to "Modifier mon profil", edit_user_path(current_user), method: "get", class: "btn btn-primary" %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="col-xs-1"></div>
        <div class="col-xs-7">
          <div class="activity-div">
            <h1><%= "Bonjour, je m'appelle #{@user.name} !" %></h1>
            <h3>J'ai besoin d'aide pour</h3>
            <ul>
              <% @user.activities.each do |activity| %>
                <li>
                  <% if activity.name === "Cuisine" %>
                    <p><i class="fa fa-cutlery"> </i> <%= activity.name %>
                    <%= link_to "Voir", activity_path(activity), method: "get", class: "btn btn-default Un" %>
                    <% if @user === current_user %>
                      <%= link_to "Modifier", edit_activity_path(activity), method: "get", class: "btn btn-default" %>
                      <%= link_to "Supprimer", activity_path(activity), method: "delete", class: "btn btn-default"  %>
                    <% end %>
                    </p>
                  <% elsif activity.name === "Informatique" %>
                    <p><i class="fa fa-laptop"> </i> <%= activity.name %>
                    <%= link_to "Voir", activity_path(activity), method: "get", class: "btn btn-default Un" %>
                    <% if @user === current_user %>
                      <%= link_to "Modifier", edit_activity_path(activity), method: "get", class: "btn btn-default" %>
                      <%= link_to "Supprimer", activity_path(activity), method: "delete", class: "btn btn-default"  %>
                    <% end %>
                    </p>
                  <% elsif activity.name === "Conversation" %>
                    <p><i class="fa fa-commenting-o"> </i> <%= activity.name %>
                    <%= link_to "Voir", activity_path(activity), method: "get", class: "btn btn-default Un" %>
                    <% if @user === current_user %>
                      <%= link_to "Modifier", edit_activity_path(activity), method: "get", class: "btn btn-default" %>
                      <%= link_to "Supprimer", activity_path(activity), method: "delete", class: "btn btn-default"  %>
                    <% end %>
                    </p>
                  <% else %>
                    <p><i class="fa fa-book"> </i> <%= activity.name %>
                    <%= link_to "Voir", activity_path(activity), method: "get", class: "btn btn-default Un" %>
                    <% if @user === current_user %>
                      <%= link_to "Modifier", edit_activity_path(activity), method: "get", class: "btn btn-default" %>
                      <%= link_to "Supprimer", activity_path(activity), method: "delete", class: "btn btn-default"  %>
                    <% end %>
                    </p>
                  <% end %>
                </li>
              <% end %>
            </ul>

            <%= link_to "Ajouter une activité", new_activity_path, method: "get", class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

