<div class="page-wrapper">
  <div class="page-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-4">
          <div class="user-picture-div">
            <% if @user.photo? %>
              <%= cl_image_tag @user.photo.path, width: 200, height: 300, crop: :fill %>
            <% end %>
          </div>
        </div>
        <div class="col-xs-8">
          <div class="user-info">
            <ul>
             <li class="no-bullet"><h1><%= @user.name %> <%= @user.surname %></h1></li>
              <% if @user.birthdate %>
                <li class="no-bullet"><p><%= @user.birthdate %></p></li>
              <% end %>
              <li class="no-bullet"><p><%= @user.email %></p></li>
              <% if @user.description %>
                <li class="no-bullet"><p><%= @user.description %></p></li>
              <% end %>
              <% if @user.address %>
                <li class="no-bullet"><p><%= @user.address %></p></li>
              <% end %>

            </ul>
          </div>
          <% if @user === current_user %>
          <%= link_to "Modifier mon profil", edit_user_path(current_user), method: "get" %>
          <% end %>
          <!-- Ajouter les liens vers la modification & la suppression des activités (dans la liste) -->
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="activity-info">
            <h3>Mes activités:</h3>
            <ul>
              <% @user.activities.each do |activity| %>
                <li><%= activity.name %>: du <%= activity.starting_time %> au <%= activity.end_time %> <%= link_to "Voir", activity_path(activity), method: "get" %>
                  <% if @user === current_user %>
                    <%= link_to "Modifier", edit_activity_path(activity), method: "get" %>
                    <%= link_to "Supprimer", activity_path(activity), method: "delete"  %>
                  <% end %>
                </li>
              <% end %>
            </ul>
            <%= link_to "Ajouter une activité", new_activity_path, method: "get" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

