<div class="page-wrapper">
  <div class="page-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
          <%= simple_form_for (@activity) do |f| %>
            <%= f.error_notification %>
            <%= f.input :name %>
            <%= f.input :starting_time, as: :string, input_html: { class: 'datepicker'} %>
            <%= f.input :end_time, as: :string, input_html: { class: 'datepicker'} %>
            <%= f.input :price %>
            <%= f.input :description %>
            <%= f.input :pictogram_link %>
            <%= f.button :submit, class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
