<p id="notice"><%= notice %></p>

<div class="page-wrapper">
  <div class="page-container">
    <h3>Résultats...</h3>
    <div class="container">
      <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
          <div>
            <ol>
              <% @activities.each do |activity| %>
                <li>
                  <div>
                    <h4> <%= activity.name %> avec <%= activity.user.name %> <%= activity.user.surname %> <%= image_tag "papy_marcel.jpeg", {class: "avatar-square-big"} %> </h4>
                    <p> <%= activity.description %></p>
                    <p>Adresse: <%= activity.user.address %> / Compensation: <%= activity.price %></p>
                    <div id="link-box">
                      <p><%= link_to 'Show', activity %></p>
                      <%= simple_form_for (@booking) do |f| %>
                        <%= f.hidden_field :user_id, as: :integer, value: activity.user.id %>
                        <%= f.hidden_field :accepted, as: :boolean, value: false %>
                        <%= f.hidden_field :activity_id, as: :integer, value: activity.id %>
                        <%= f.button :submit, value: "Book", class: "btn btn-primary" %>
                      <% end %>
                    </div>
                  </div>
                </li>
              <% end %>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
