<p id="notice"><%= notice %></p>


<!-- <div class="page-wrapper">
  <div class="page-container">
    <h3>Résultat</h3>
    <div class="container">
      <div class="row">
        <div class="col-xs-4">
          <div>
            <%= image_tag "papy_marcel.jpeg", {class: "avatar-square-huge"} %>
          </div>
        </div>
        <div class="col-xs-8">
          <div>
            <% @activities.each do |activity| %>
              <ul>
                <li><h1><%= activity.user.name %> <%= activity.user.surname %></h1></li>
                <li><p><%= activity.user.address %></p></li>
                <li><p><%= activity.user.description %></p></li>
                <li><p><%= activity.price %></p></li>
                <li><p><%= link_to 'Show', activity %></p></li>
              </ul>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <%= link_to 'New Activity', new_activity_path %>
  </div>
</div> -->


<div class="page-wrapper">
  <div class="page-container">
    <h3>Résultats...</h3>
    <div class="container">
      <div class="row">
        <div class="col-xs-8 coll-xs-offset-2">
          <div>
            <ol>
              <% @activities.each do |activity| %>
                <li>
                  <div>
                    <h4> <%= activity.name %> avec <%= activity.user.name %> <%= activity.user.surname %> <%= image_tag "papy_marcel.jpeg", {class: "avatar-square-big"} %> </h4>
                    <p> <%= activity.description %></p>
                    <p>Adresse: <%= activity.user.address %> / Compensation: <%= activity.price %></p>
                  </div>
                </li>
              <% end %>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
