<p id="notice"><%= notice %></p>

<h1>Listing Activities</h1>

<div class="page-wrapper">
  <div class="page-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-4">
          <div>
            <%= image_tag "profile.placeholder.jpeg", {class: "avatar-square-huge"} %>
          </div>
        </div>
        <div class="col-xs-8">
          <div>
            <% @activities.each do |activity| %>
              <ul>
                <li><h1><%= activity.user.name %> <%= activity.user.surname %></h1></li>
                <li><p><%= activity.user.address %></p></li>
                <li><p><%= activity.user.description %></p></li>
                <li><p><%= activity.price %></p></li>
                <li><p><%= link_to 'Show', activity %></p></li>
              </ul>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <%= link_to 'New Activity', new_activity_path %>
  </div>
</div>
