<div class="page-wrapper">
  <div class="page-container">
  <h1 class="text-center title">Détails de l'activité</h1>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-5">
      <div class="card">
          <div>
             <% if @activity.name === "Cuisine" %>
              <h2 class="text-center"><i class="fa fa-cutlery"></i> <%= @activity.name %></h2>
            <% elsif @activity.name === "Informatique" %>
              <h2 class="text-center"><i class="fa fa-laptop"></i> <%= @activity.name %></h2>
            <% elsif @activity.name === "Conversation" %>
              <h2 class="text-center"><i class="fa fa-commenting-o"></i> <%= @activity.name %></h2>
            <% else %>
              <h2 class="text-center"><i class="fa fa-book"></i> <%= @activity.name %></h2>
            <% end %>
            <p><strong>Demande : </strong><%= @activity.description %></p>
            <p><strong>Date :</strong> Du <%= @activity.starting_time %> au <%= @activity.end_time %></p>
            <p><strong>Rémunération :</strong> <%= @activity.price %>€</p>
          </div>
<!--         <p class="card-user avatar"> src="user.jpg" </p>
 -->        <a class="card-link" href="#" ></a>
      </div>
    </div>


    <div class="col-xs-12 col-sm-7">
      <div class="card">
        <div class="col-xs-8 col-sm-8" >
          <div>
            <h2>Avec: <%= @activity.user.name %> <%= @activity.user.surname %></h1>
            <% if @activity.user.birthdate %>
              <p><strong>Date de naissance :</strong> <%= @activity.user.birthdate %></p>
            <% end %>
            <p><strong>Email : </strong><%= @activity.user.email %></p>
            <% if @activity.user.description %>
              <p><strong>Description :</strong> <%= @activity.user.description %></p>
            <% end %>
            <% if @activity.user.address %>
              <p><strong>Adresse :</strong> <%= @activity.user.address %></p>
            <% end %>
          </div>
        </div>
        <div class="col-xs-4 col-sm-4">
          <% if @activity.user.photo? %>
            <%= cl_image_tag @activity.user.photo, width: 200, height: 200, crop: :fill %>
          <% else %>
            <%= image_tag "placeholder-user-photo.png"%>
          <% end %>
                <%= simple_form_for (@booking) do |f| %>
                  <%= f.hidden_field :user_id, as: :integer, value: @activity.user.id %>
                  <%= f.hidden_field :accepted, as: :boolean, value: false %>
                  <%= f.hidden_field :activity_id, as: :integer, value: @activity.id %>

                  <%= f.button :submit, value: "Réserver", class: "btn btn-primary" %>
                <% end %>
          </div>
        </div>
      </div>
    </div>
</div>
</div>
</div>
</div>











<div class="page-wrapper">
  <div class="page-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-2">
          <div id="activity-info">
            <ul>
              <li><h3><%= @activity.name %></h3></li>
                 <li><h1><%= @activity.user.name %> <%= @activity.user.surname %></h1></li>
                  <% if @activity.user.birthdate %>
                    <li><p><%= @activity.user.birthdate %></p></li>
                  <% end %>
                  <li><p><%= @activity.user.email %></p></li>
                  <% if @activity.user.description %>
                    <li><p><%= @activity.user.description %></p></li>
                  <% end %>
                  <% if @activity.user.address %>
                    <li><p><%= @activity.user.address %></p></li>
                  <% end %>
            </ul>
          </div>
        </div>
        <div class="col-xs-2 text-center">
          <h1>AVEC</h1>
        </div>
        <div class="col-xs-8">
          <div class="row">
            <div class="col-xs-4">
              <div id="user-image">
                <%= image_tag "papy_marcel.jpg", {class: "avatar-square-huge"} %>
              </div>
            </div>
            <div class="col-xs-8">
              <div id="user-info">
                <ul>
                  <li><h1><%= @activity.user.name %> <%= @activity.user.surname %></h1></li>
                  <% if @activity.user.birthdate %>
                    <li><p><%= @activity.user.birthdate %></p></li>
                  <% end %>
                  <li><p><%= @activity.user.email %></p></li>
                  <% if @activity.user.description %>
                    <li><p><%= @activity.user.description %></p></li>
                  <% end %>
                  <% if @activity.user.address %>
                    <li><p><%= @activity.user.address %></p></li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="activity-show-links">
                <%= simple_form_for (@booking) do |f| %>
                  <%= f.hidden_field :user_id, as: :integer, value: @activity.user.id %>
                  <%= f.hidden_field :accepted, as: :boolean, value: nil %>
                  <%= f.hidden_field :activity_id, as: :integer, value: @activity.id %>

                  <%= f.button :submit, value: "Book", class: "btn btn-primary" %>
                <% end %>
          </div>
        </div>
      </div>

      <p><%= link_to 'Back to activities', activities_path({search: @search}) %></p>
    </div>
  </div>
</div>

