<div class="page-wrapper">
  <div class="page-container">
  <h1 class="text-center title">Détails de l'activité</h1>

<div class="container text-center">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2);">
        <div class="card-category"><%= @activity.price %>€</div>
          <div class="card-description">
            <h2><%= @activity.name %></h2>
            <p><%= @activity.description %></p>
          </div>
<!--         <p class="card-user avatar"> src="user.jpg" </p>
 -->        <a class="card-link" href="#" ></a>
      </div>
    </div>


    <div class="col-xs-12 col-sm-8">
      <div class="card">
        <div class="card-category">Popular</div>
          <div class="card-description">
            <h2>Some stuff</h2>
            <p>Very cool stuff, useful and smart</p>
          </div>
        <img class="card-user avatar" src="user.jpg">
        <a class="card-link" href="#" ></a>
      </div>
    </div>
</div>
</div>
</div>
</div>











<div class="page-wrapper">
  <div class="page-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-2">
          <div id="activity-info">
            <ul>
              <li><h3><%= @activity.name %></h3></li>
              <li><p><%= @activity.starting_time %></p></li>
              <li><p><%= @activity.end_time %></p></li>
              <li><p><%= @activity.price %>€</p></li>
              <li><p><%= @activity.description %></p></li>
            </ul>
          </div>
        </div>
        <div class="col-xs-2 text-center">
          <h1>AVEC</h1>
        </div>
        <div class="col-xs-8">
          <div class="row">
            <div class="col-xs-4">
              <div id="user-image">
                <%= image_tag "papy_marcel.jpg", {class: "avatar-square-huge"} %>
              </div>
            </div>
            <div class="col-xs-8">
              <div id="user-info">
                <ul>
                  <li><h1><%= @activity.user.name %> <%= @activity.user.surname %></h1></li>
                  <% if @activity.user.birthdate %>
                    <li><p><%= @activity.user.birthdate %></p></li>
                  <% end %>
                  <li><p><%= @activity.user.email %></p></li>
                  <% if @activity.user.description %>
                    <li><p><%= @activity.user.description %></p></li>
                  <% end %>
                  <% if @activity.user.address %>
                    <li><p><%= @activity.user.address %></p></li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="activity-show-links">
                <%= simple_form_for (@booking) do |f| %>
                  <%= f.hidden_field :user_id, as: :integer, value: @activity.user.id %>
                  <%= f.hidden_field :accepted, as: :boolean, value: nil %>
                  <%= f.hidden_field :activity_id, as: :integer, value: @activity.id %>

                  <%= f.button :submit, value: "Book", class: "btn btn-primary" %>
                <% end %>
          </div>
        </div>
      </div>

      <p><%= link_to 'Back to activities', activities_path({search: @search}) %></p>
    </div>
  </div>
</div>

