<div class="page-wrapper">
  <div class="page-container">
    <h1 class="text-center">Détails de l'activité</h1>
    <div class="container">
      <div class="row text-center">
          <div class="card">
           <div class="col-xs-4 col-sm-4 photo">
              <% if @activity.user.photo? %>
                  <%= cl_image_tag @activity.user.photo.path, width: 150, height: 150, crop: :fill, class: "user_picture_activity"%>
              <% else %>
                <%= image_tag "papy_marcel.jpg", width: 150, height: 150, crop: :fill, class: "user_picture_activity"%>
              <% end %>
              <p><%= @activity.user.name %></p>
              <p></p>
                    <%= simple_form_for (@booking) do |f| %>
                      <%= f.hidden_field :user_id, as: :integer, value: @activity.user.id %>
                      <%= f.hidden_field :accepted, as: :boolean, value: nil %>
                      <%= f.hidden_field :activity_id, as: :integer, value: @activity.id %>

                      <%= f.button :submit, value: "Réserver", class: "btn btn-home", id: "activity_button" %>
                    <% end %>
              </div>

            <div class="col-xs-8  col-sm-8">
              <div>
                 <% if @activity.name === "Cuisine" %>
                  <h3 class="text-center"><i class="fa fa-cutlery"></i> <%= @activity.name %></h3>
                <% elsif @activity.name === "Informatique" %>
                  <h3 class="text-center"><i class="fa fa-laptop"></i> <%= @activity.name %></h3>
                <% elsif @activity.name === "Conversation" %>
                  <h3 class="text-center"><i class="fa fa-commenting-o"></i> <%= @activity.name %></h3>
                <% else %>
                  <h3 class="text-center"><i class="fa fa-book"></i> <%= @activity.name %></h3>
                <% end %>
                <table class="table_activity">
                  <tbody>
                    <tr>
                      <td><strong>Demande : </strong></td>
                      <td><%= @activity.description %></td>
                    </tr>
                    <tr>
                      <td><strong>Date :</strong></td>
                      <td> Du <%= @activity.starting_time %> au <%= @activity.end_time %></td>
                    </tr>
                    <tr>
                      <td><strong>Rémunération :</strong></td>
                      <td><%= @activity.price %>€</td>
                    </tr>
                    <tr>
                      <% if @activity.user.description %>
                        <td><strong>A propos de moi :</strong></td>
                        <td><%= @activity.user.description %></td>
                      <% end %>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      <div class="text-center">
        <%= link_to 'Retour aux activités', activities_path({search: @search}), class: "btn btn-danger", id:"btn-center" %>
      </div>
  </div>
</div>
</div>

